<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=1">

        <meta name="description" content="Hyper.sh - Container-native Cloud">
        <meta name="keywords" content="docker,container native,hosting,cloud,container,docker hosting,container hosting,container cloud,container native cloud,hyper cloud,hyper,hypersh,hyper.sh,Hyper.sh,Hyper.sh,hypernetes,iaas,caas,microservice,vm,secure,security">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@hyper_sh">
        <meta name="twitter:title" content="{{.Title}}">
        <meta name="twitter:creator" content="@hyper_sh">
        <meta name="twitter:description" content="Hyper.sh - Container-native Cloud">
        <meta name="twitter:image:src" content="https://www.hyper.sh/logo/logo_single_dark.png">
        <!-- Facebook -->
        <meta property="og:url" content="https://www.hyper.sh/">
        <meta property="og:title" content="{{.Title}}">
        <meta property="og:description" content="Hyper.sh - Container-native Cloud">
        <meta property="og:site_name" content="Hyper.sh">
        <meta property="og:image" content="https://www.hyper.sh/logo/logo_single_dark.png">
        <meta property="og:type" content="website">
        <meta name="robots" content="noodp">
        <!-- Google Plus -->
        <meta itemprop="name" content="{{.Title}}">
        <meta itemprop="description" content="Hyper.sh - Container-native Cloud">
        <meta itemprop="image" content="https://www.hyper.sh/logo/logo_single_dark.png">

        <meta name="keywords" content="{{range .Tags}}{{.}},{{end}}">
        <meta name="description" content="{{.Title}}">
        <link rel="stylesheet" href="{{.Site.Root}}/bundle/index.css">
        <title>{{.Title}}</title>
    </head>
    <body>
        <article class="container">
            {{template "header" .}}
            <article class="main article">
                <h1 class="title">{{.Title}}</h1>
                <span class="tags">{{range .Tags}}<a class="tag" href="{{$.Site.Root}}/tag/{{.}}/index.html">{{.}}</a>{{end}}</span>
                <section class="info">
                    {{if .Author.Avatar}}<span class="avatar" style="background-image: url({{.Author.Avatar}});"></span>{{end}}
                    {{if .Author.Name}}<a class="name">{{.Author.Name}}</a>{{end}}
                    <span class="date" data-time="{{.Date}}">
                        <span class="from"></span>
                        {{if .Update}}<span class="date" data-time="{{.Update}}">(<span class="from"></span> {{i18n "updated"}})</span>{{end}}
                    </span>
                </section>
                <article class="content">{{.Content}}</article>
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="hyper_sh" data-size="large">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <section class="author">
                    {{if .Author.Avatar}}<div class="avatar" style="background-image: url({{.Author.Avatar}});"></div>{{end}}
                    <a class="name">{{.Author.Name}}</a>
                    <div class="intro">{{.Author.Intro}}</div>
                </section>
                <section class="recommend">
                    {{if .Prev}}
                    <section class="nav prev{{if .Next}} more{{end}}">
                        <div class="head">{{i18n "prev_reading"}}</div>
                        <a class="link" href="{{.Site.Root}}/{{.Prev.Link}}">{{.Prev.Title}}</a>
                    </section>
                    {{end}}
                    {{if .Next}}
                    <section class="nav next{{if .Prev}} more{{end}}">
                        <div class="head">{{i18n "next_reading"}}</div>
                        <a class="link" href="{{.Site.Root}}/{{.Next.Link}}">{{.Next.Title}}</a>
                    </section>
                    {{end}}
                </section>
                {{template "comment" .}}
            </article>
        </article>
        {{template "footer" .}}
        <script src="{{.Site.Root}}/bundle/index.js"></script>
    </body>
</html>
