<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=1">

        <meta name="description" content="Get your microservices to production in 5 seconds!">
        <meta name="keywords" content="docker,container native,hosting,cloud,container,docker hosting,container hosting,container cloud,container native cloud,hyper cloud,hyper,hypersh,hyper.sh,hyper_,Hyper.sh,hypernetes,iaas,caas,microservice,vm,secure,security">
        <meta property="og:title" content="Hyper.sh - Container-Native Cloud">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.hyper.sh/">
        <meta property="og:image" content="https://www.hyper.sh/assets/logo.png">
        <meta property="og:site_name" content="Hyper.sh">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@hyper_sh">
        <meta name="twitter:title" content="Hyper.sh - Container-Native Cloud">
        <meta name="twitter:creator" content="@hyper_sh">
        <meta name="twitter:description" content="Get your microservices to production in 5 seconds!">
        <meta name="twitter:image:src" content="https://www.hyper.sh/assets/logo.png">
        <!-- Facebook -->
        <meta property="og:url" content="https://www.hyper.sh/">
        <meta property="og:title" content="Hyper.sh - Container-Native Cloud">
        <meta property="og:description" content="Get your microservices to production in 5 seconds!">
        <meta property="og:site_name" content="Hyper.sh">
        <meta property="og:image" content="https://www.hyper.sh/assets/logo.png">
        <meta property="og:type" content="website">
        <meta name="robots" content="noodp">
        <!-- Google Plus -->
        <meta itemprop="name" content="Hyper.sh - Container-Native Cloud">
        <meta itemprop="description" content="Get your microservices to production in 5 seconds!">
        <meta itemprop="image" content="https://www.hyper.sh/assets/logo.png">
        <!-- Canonical URL -->
        <link rel="canonical" href="https://www.hyper.sh/">

        <link rel="stylesheet" href="{{.Site.Root}}/bundle/index.css">
        <title>{{.Site.Title}} - Blog</title>
    </head>
    <body>
        <article class="container">
            <div class="logo-hide">
              {{template "header" .}}
            </div>
            <article class="main page">
                <header class="header site">
                    {{if .TagName}}
                        <h1 class="tag">{{.TagName}}</h1>
                        <h2 class="tag-sub">{{.TagCount}} {{i18n "articles"}}</h2>
                    {{else}}
                        <a href="{{.Site.Root}}/">
                          <img class="logo" src={{.Site.Logo}} />
                          <h2 class="subtitle">{{.Site.Subtitle}}</h2>
                        </a>
                    {{end}}
                </header>
                <ul class="article-list">
                    {{range .Articles}}
                    <li class="article">
                        <a class="title" href="{{$.Site.Root}}/{{.Link}}">{{if .Top}}<span class="top">[{{i18n "top"}}]</span>{{end}}{{.Title}}</a>
                        {{if .Cover}}<div class="cover" style="background-image:url({{.Cover}});"></div>{{end}}
                        {{if .Preview}}<section class="preview content">{{.Preview}}</section>{{end}}
                        <section class="info">
                            {{if .Author.Avatar}}<span class="avatar" style="background-image: url({{.Author.Avatar}});"></span>{{end}}
                            {{if .Author.Name}}<a class="name">{{.Author.Name}}</a>{{end}}
                            <span class="date" data-time="{{.Date}}">
                                <span class="from"></span>
                                {{if .Update}}<span class="date" data-time="{{.Update}}">(<span class="from"></span> {{i18n "updated"}})</span>{{end}}
                            </span>
                            <span class="tags">
                            {{range .Tags}}<a class="tag" href="{{$.Site.Root}}/tag/{{.}}/index.html">{{.}}</a>{{end}}
                            </span>
                        </section>
                    </li>
                    {{end}}
                </ul>
                <section class="page-nav">
                    {{if .Prev}}<a class="prev" href="{{.Site.Root}}/{{.Prev}}">{{i18n "prev_page"}}</a>{{end}}
                    {{if ne .Total 1}}<span class="nav">{{.Page}} / {{.Total}}</span>{{end}}
                    {{if .Next}}<a class="next" href="{{.Site.Root}}/{{.Next}}">{{i18n "next_page"}}</a>{{end}}
                </section>
            </article>
        </article>
        {{template "footer" .}}
    </body>
    <script src="{{.Site.Root}}/bundle/index.js"></script>
</html>
